<div class="card">
  <div class="card-body">
    <div>
    <h3 class="card-title">{{title}}</h3>
    <p class="card-text">{{content}}</p>
    <div>Post By: {{user.username}} On {{format_date created_at}}</div>
    </div>
  </div>
</div>